Source: golang-1.25
Section: golang
Priority: optional
Maintainer: Luis Alejandro Martínez Faneyth <luis@luisalejandro.org>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.0
Homepage: https://go.dev
Vcs-Browser: https://github.com/Dockershelf/gogo1.25
Vcs-Git: https://github.com/Dockershelf/gogo1.25.git

Package: golang-1.25-go
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}
Conflicts: golang-go
Replaces: golang-go
Provides: golang-go,
         golang-1.25-go
Description: Go programming language compiler — 1.25 (official precompiled)
 Dockershelf repackage of the official precompiled Go toolchain from go.dev.
 Installs to /usr/lib/go-1.25 with /usr/bin/go and /usr/bin/gofmt symlinks.
